NEXT_PUBLIC_SQUARE_APPLICATION_ID=
NEXT_PUBLIC_SQUARE_LOCATION_ID=
SQUARE_LOCATION_ID=
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=sandbox
SQUARE_API_VERSION=2026-05-20
RESEND_API_KEY=
GIFT_CARD_FROM_EMAIL="Tupelo Honey Spa <giftcards@example.com>"
